<div id="wrapper" class="pb-5">
    <header>
        <nav class="navbar navbar-expand-lg mb-5">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">              
                    <img src="/assets/images/check.png" alt="Logo" class="img-fluid">
                </a>
              
              <div class="justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn text-light" aria-current="page" href="#">Contact Us</a>
                        </li>          
                    </ul>
              </div>
            </div>
        </nav>

        <div class="container-fluid mt-5 text-center">
            <h1 class="text-light fw-bolder">
                Data Insight for <br>
                 Engineering Excellence.
            </h1>
            <p class="mt-5 text-light culture-paragraph">
                We are enabling a culture of continuous improvement for <br> engineering teams.
            </p>
            <p class="mb-5">
                <button class="btn px-5 py-3 text-light get-started-button">
                    Get Started
                </button>
            </p>
            <img src="/assets/images/Safari.aa47b843.png" class="img-fluid px-5 mt-5 mb-5 first-image" alt="random static image">
            <div class="mt-5 mb-5" id="percentage-div">
                <p class="mb-5 circle-area">
                    <span class="py-5">35%</span>
                </p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 text-light text-center my-5">
                    <p class="text-pieces">
                        Of engineering productivity <br> is lost due to Inefficiency
                    </p>
                </div>
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 text-light">
                    <p class="text-pieces">
                        Zeedas provides the data insight your team needs to make this a thing of the past
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="fv-row mb-7 col-lg-6 col-md-6 col-sm-12 px-5 py-5 text-light">
                    <p class="understand-div">
                        Understand how you perform at every stage of your software delivery and surface issues faster.
                    </p>
                    
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-4 col-sm-12 py-5">
                    <img src="/assets/images/Group 28.106542b9.png" class="img-fluid" alt="">
                </div>
                
            </div>
            
        </div>
    </header>
    
    <div class="container-fluid py-5" id="wrapper-container">
        <div class="container">
            <div class="row">
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12">
                    <p class="text-pieces">
                        Bad codes take <span class="thirty-span">30%</span> of team's productivity weekly. 
                        <span class="understand-span">
                            Understand how this impacts your teams and eradicate them.
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="fv-row mb-7 col-lg-8 col-md-12 col-sm-12 py-4 px-5 orange-background">
                    <img src="/assets/images/group2344.1fd49a53.svg" alt="another image" class="img-fluid">
                </div>
                <div class="fv-row mb-7 col-lg-4 col-md-0 col-sm-0">
                   
                </div>
            </div>     
        </div>
        <div class="container mt-5">    
            <div class="row mb-5">
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 mt-5">
                    <p class="text-pieces text-end mt-5">
                        Resolving issues quickly and unblocking your team is a superpower
                    </p>
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-12 col-sm-12 survey-div">
                    <img src="/assets/images/Group 148.aa32b1d5.png" alt="static survey image" class="img-fluid">
                    <div class="understand-text">
                        Understand how you perform at each stage of software delivery and identify problems sooner.
                    </div>
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-12 col-sm-12 orange-background">
                    <img src="/assets/images/Image2.f12b78af.png" alt="" class="img-fluid pt-4">
                </div>
            </div> 
            <div class="row">
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 text-pieces">
                    Poor processes pose the biggest risk to developer productivity. <br>
                
                   <p class="understand-paragraph mt-5">
                    Understand your team's productive, productive patterns and productivity uptime.
                   </p> 
                </div>
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 p-5 text-center orange-background">
                    <img src="/assets/images/Frame 1000002876.5243279e.png" alt="" style="width:65%" class="img-fluid centered-image">
                </div>
            </div>   
            <div class="row">
                <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12">
                    <p class="text-pieces" style="font-weight: bolder;">
                        <span class="thirty-span"> 83% </span>of engineers experience burnout regularly, costing teams valuable time
                    </p>
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-12 col-sm-12 understand-paragraph" style="line-height: 60px; margin: auto;">
                    <p>
                        Identify signs and trends that lead to burnout and prevent them.
                    </p>
                </div>
                <div class="fv-row mb-7 col-lg-6 col-md-12 col-sm-12 burnout-div">
                    <img src="/assets/images/Component 2.3d2916ea.png" class="img-fluid">
                </div>
            </div> 
        </div>
    </div>
    <div class="container my-5">
        <p class="text-pieces">
            Stand-ups are boring and repetitive, lacking any real insight
        </p>
        <div class="row">
            <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 text-center">
                <img src="/assets/images/group39.a9c28bc8.svg" class="img-fluid"> 
            </div>
            <div class="fv-row mb-7 col-lg-12 col-md-12 col-sm-12 mx-auto retrospect-div">
                <p>
                    Run your standups and retrospect meetings with real data, and get more out of these meetings.
                </p>
            </div>
        </div>
    </div>
    <div class="container mb-5 text-light layered-container">
        <div class="layered-div"></div>
        <div class="layered-div2 pt-5 px-2">
            <p class="text-pieces px-5">
                <span class="thirty-span"> 60+ </span> analysis to make you a better engineering manager
            </p>
            <p class="pb-2 px-5">
                <button class="btn px-5 py-2 text-light get-started-button">
                    Get Started
                </button>
            </p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row py-5">
            <div class="fv-row mb-7 col-lg-3 col-md-6 col-sm-12 mx-auto">
                <img src="/assets/images/check.png" alt="Logo" class="img-fluid">
            </div>
            <div class="fv-row mb-7 col-lg-3 col-md-6 col-sm-12 mx-auto">
                <h4>Product</h4>
                <ul>
                    <li class="list-group-item">
                        <a href="" class="text-decoration-none text-dark">Terms & Condition</a>
                    </li> <br>
                    <li class="list-group-item">
                        <a href="" class="text-decoration-none text-dark">Privacy Policies</a>
                    </li>
                </ul>
            </div>
            <div class="fv-row mb-7 col-lg-3 col-md-6 col-sm-12 mx-auto">
                <h4>Product</h4>
                <ul>
                    <li class="list-group-item">
                        <a href="tel:(234) 1 631 6270" class="text-decoration-none text-dark">(234) 1 631 6270</a>
                    </li> <br>
                    <li class="list-group-item">
                        <a href="" class="text-decoration-none text-dark">12, Water view, Lekki Phase 1, Lagos, Nigeria</a>
                    </li> <br>
                    <li class="list-group-item">
                        <a href="mailto:oweifumi@gmail.com" class="text-decoration-none text-dark">oweifumi&#64;gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="fv-row mb-7 col-lg-3 col-md-6 col-sm-12 mx-auto">
                <h4>Community</h4>
                <p></p>
                <p>Stay Excited, Subscribe to our Newsletter</p>
                <input type="text" name="" id="">
            </div>
        </div>
    </div>
</div>